
@media screen and (max-width: 414px) {
  
  .wrapper{
    width: auto;
    margin: 0;
  }

  /* --------------- Header -------------- */
  .top{
    height: 60px;
    padding: 0 20px;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    position: fixed;
    width: 100vw;
    box-sizing: border-box;
    left: 0;
    top: 0;    
    z-index: 100;
  }

  /*.top ul{
    display: none;
  }*/

  .top > img{
    height: 30px;
    order: 4;
  }

  .top > .fa{
    display: block;
    order: 1;
  }

  .top > .fa:hover ~ ul{
    left: 0;
  }

  .top .menu{
    display: block;
    position: fixed;
    left: -80vw;
    top: 60px;
    width: 80vw;
    height: calc(100vh - 60px);
    background-color: #fff;
    z-index: 10;
    order: 2;
    transition: .5s;
  }

  .top .menu li{
    margin-right: 0;
  }

  .top .menu li:last-child{
    border-bottom: 1px solid #e5e5e5;
  }

  .top .menu a{
    line-height: 60px;
    padding-left: 50px;
  }

  .top .social{
    display: block;
    width: 80vw;
    z-index: 11;
    order: 3;
    position: fixed;
    top: 300px;
    left: -80vw;
    transition: .5s;
  }

  .top .social li{
    margin-left: 0;
  }

  .top .social a{
    width: auto;
    height: 60px;
    line-height: 60px;
    border: 0;
    border-radius: 0;
    text-align: left;
    padding-left: 50px;
    text-decoration: none;
  }

  .top .social a:after{
    content: attr(title);
    margin-left: 10px;
  }

  .top .social .fa{
    width: 18px;
    text-align: center;
    font-size: 18px;
  }

  /* --------------- Key Vision -------------- */
  .kv{
    height: 100vh;
    background-position: 0 60px;
    background-size: cover;
    background-position: -150px 50px;
  }

  .kv h1, .kv h2{
    color: white;
  }

  /* --------------- Support -------------- */
  .support{
    padding: 50px 20px;
    margin-bottom: 0;
  }

  .support-img{
    display: none;
  }

  .support ul{
    display: block;
  }

  .support h3{
    font-size: 24px;
  }

  /* --------------- Page Title -------------- */
  .page-title:before, .page-title:after{
    display: none;
  }

  .page-title b{
    margin: 0 30px;
  }

  /* --------------- Items -------------- */
  .items{
    margin: 0 20px;
    flex-direction: row;
    height: auto;
    justify-content: space-between;
  }

  .items li{
    width: 49%;
    margin-bottom: 20px;
  }

  .items img{
    width: 100%;
  }

  .items li:nth-child(3){
    order: 1;
    flex-basis: 100%
  }

}







@media screen and (max-width: 375px) {
  .kv{
    background-position: -50px 60px;
  }
}

























